.Main-Container{
    min-height: 672px;
    background: url('../../Imgs/Background/Nature.jpg') center center;
    background-size: cover;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    filter: brightness(120%);
   

}
.Buttons-Container{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
   min-height: 100px;

}

