.Main-Container{
    min-height: 550px;
    background-color: rgb(238, 220, 220);
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   

}
.Buttons-Container{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
   min-height: 100px;

}