.Play-Container{

    display: flex;
    flex-direction: column;
   
}
.GameInfo-container{
   
   
  
    
    
    


   
    
}

.gameMessages-Container{
    
    

    font-size: 14px;
    background-color: red;
  
    
    p{
       
        padding: 10px;
        border-radius: 5px;
        color: white;
        text-align: center;
    }

    



}
.showMess{     
    position: absolute;
    transition:  2s  all ease 7s;
    top: 100px;
    left: 40px;
    background-color: rgb(54, 34, 34);
    width: 100px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: black 0px 0px 10px;
    border-radius: 10px;
}
.notshowMess{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 50px;
    top: -1300px;
    left: 40px;
    transition:  2s  all ease 0s;

}
.userInfo-Container{
 
//    border: 2px solid black;
   width: 100%;
   direction: rtl;

   
}

.PlayerInfo-Container{
    width: 90%;
    margin: auto;
     background-color: rgba(133, 92, 92, 0.555);
   border-radius: 5px;
   box-shadow: 0px 0px 20px white;
   color: antiquewhite;
    // border: 1px solid rgb(105, 0, 0);
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: space-between;

    .PlayerNameContainer{
        padding: 5px;
        margin-bottom: 10px;
        span{
            font-weight: 600;
            font-size: 13px;
            display: block;
            margin-bottom: 5px;
        }
        
    }
   
    .rateContainer{
        width: 100px;
        padding-right: 5px;
       text-align: right;
       font-size: 15px;
       span.rateDisplay{
        font-size: 12px;
        font-weight: 800;
        background-color: red;


    }
    }

}
.junContainer{
    background-color: rgba(195, 0, 255, 0.356);
    display: flex;
    justify-content: space-around;
   
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.637);
    margin-bottom: 20px;
    margin-top: 10px;
    
}



.cityCol-Container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
   

}


.CityCol{
    width: 15%;
    height: 130px;
    overflow: hidden;
    background-color: rgb(34, 34, 56);
    display: flex;
    flex-direction: column-reverse;
    border-radius: 4px;
    
    
   

    p{
        color: aliceblue;
        border-bottom: 1px solid rgba(255, 255, 255, 0.555);
        font-size: 0.5rem;
        text-align: center;
        width: 99%;
        margin: auto;
        padding-top: 13px;
        padding-bottom: 10px;
       

        // padding: 10px 0px 1px;
    }
   

}

.playButtons-container{
  min-height: 150px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-around;
    align-items: center;

}


.PlayBtn{
    border: 1px solid rgba(0, 0, 0, 0.192);
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.247);
    border-radius: 10px;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 7px !important;
}
.jun{
    margin-left: 5px;
    transition: all ease 1s;
}

.PlayBtn{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(74, 38, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    transition: all ease 1s;
    .PlayIcon{
        font-size: 40px;
        margin-left: 3px;
    }
}
.repeatBtn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(158, 250, 0);
    margin-top: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    transition: all ease 1s;
}
.ExitBtn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(255, 30, 0);
    
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: 0;
    border: 0;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    transition: all ease 1s;
   
    span{
        color: white;
        font-size: 13px;
        padding-bottom: 5px;
    }
    


}



