.Play-Container{

    display: flex;
    flex-direction: column;
   
}
.GameInfo-container{
   
   
  
    
    
    


   
    
}

.gameMessages-Container{
    
    
    display: flex;
    justify-content: center;
     align-items: flex-end;
    font-size: 14px;
  
    
    p{
       
        padding: 10px;
        border-radius: 5px;
        color: white;
        text-align: center;
    }

    .showMess{     
        position: relative;
        transition:  2s  all ease 5s;
        top: 50px;
        right: 100px;
        background-color: rgb(78, 16, 16);
    }
    .notshowMess{
        position: relative;
        top: -600px;
        transition:  2s  all ease 5s;
    
    }
    

   
}
.userInfo-Container{
 
//    border: 2px solid black;
   width: 100%;
   direction: rtl;
   
}

.PlayerInfo-Container{
    width: 90%;
    margin: auto;
    // background-color: rgb(133, 92, 92);
   
    // border: 1px solid rgb(105, 0, 0);
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: space-between;

    .PlayerNameContainer{
        padding: 5px;
        span{
            font-weight: 600;
            font-size: 13px;
            display: block;
        }
        
    }
   
    .rateContainer{
        width: 100px;
        padding-right: 5px;
       text-align: right;
       font-size: 15px;
       span.rateDisplay{
        font-size: 12px;
        font-weight: 800;


    }
    }

}



.cityCol-Container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
   

}

.CityCol{
    width: 15%;
    height: 110px;
    overflow: hidden;
    background-color: rgb(34, 34, 56);
    display: flex;
    flex-direction: column-reverse;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);

    p{
        color: aliceblue;
        border-bottom: 1px solid rgba(255, 255, 255, 0.555);
        font-size: 0.5rem;
        text-align: center;
        width: 99%;
        margin: auto;
        padding-top: 13px;
        padding-bottom: 10px;
        // padding: 10px 0px 1px;
    }
   

}

.playButtons-container{
  min-height: 150px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-around;
    align-items: center;

}


.PlayBtn{
    border: 1px solid rgba(0, 0, 0, 0.192);
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.247);
    border-radius: 10px;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 7px !important;
}





