.showMess{     
    position: absolute;
    transition:  2s  all ease 7s;
    bottom: 140px;
    right: 30px;
    background-color: rgb(54, 34, 34);
    width: 200px;
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: black 0px 0px 20px;
    border-radius: 10px;
    font-size: 30px;
    z-index: 101;
    
}
.notshowMess{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 150px;
    bottom: -1300px;
    right: 30px;
    transition:  2s  all ease 1s;
    z-index: 101;

}

.showMaskTop{
    position: absolute;
    transition:  2s  all ease 5s ;
    top: -10px;
    background-color: rgb(53, 32, 32);
    width: 100%;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    box-shadow: black 0px 0px 20px;
    border-radius: 10px;
   
    p{
        font-size: 1.8rem;
        margin: 0 2px;
        background-color: rgb(53, 32, 32);
        box-shadow: black 0px 0px 20px;
        border-radius: 5px;
       margin:10px 20px;
       padding: 10px;
       text-align: center;
    }
}

.notShowMaskTop{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 250px;
    top: -250px;
    background-color: rgb(53, 32, 32);
    transition:  2s all ease 1s;
    // z-index: 100;
    p{
        
            font-size: 1.8rem;
    
        margin: 0 2px;
        background-color: rgb(53, 32, 32);
        border-radius: 5px;
       margin:10px 20px;
       padding: 10px;
       text-align: center;
       box-shadow: black 0px 0px 20px;
    }
}

.showMaskBottom{
    position: absolute;
    transition:  1s all ease ;
    bottom: 65px;  
    background-color: rgb(53, 32, 32);
    width: 100%;
    height: 250px;
    // z-index: 200;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    box-shadow: black 0px 0px 20px;
    border-radius: 10px;
    font-size: 1.9rem;
    color: aliceblue;
    padding-left: 100px;
   
   
    .Information-container{
        height: 100%;
        width: 200px;
        // background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        text-shadow: 0px 0px 30px black;
        p{
            font-size: 2.5rem;
        }
    }

    
      .logo-container{
        width: 300px;
        height: 120px;
      
        .logo{
            width: 113px;
            height: 181px;
            margin-left: 194px;
            padding-bottom: 0px;
            margin-top: -46px;
         
            // transition:  2s all ease-in-out 4s;
           
            filter: brightness(340%);
        }
        
    }

}


.notShowMaskBottom{
    position: absolute;
    transition:  2s all ease 1s;
    bottom: -300px;  
    background-color: rgb(53, 32, 32);
    width: 100%;
    height: 250px;
    // z-index: 200;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    box-shadow: black 0px 0px 20px;
    border-radius: 10px;
    font-size: 30px;
    color: aliceblue;
    padding-left: 100px;
   
    .Information-container{
        height: 100%;
        width: 200px;
        // background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{
            font-size: 2.5rem;
        }

    }

    
      .logo-container{
        width: 300px;
        height: 120px;
        transition:  7s all ease-in-out 4s;
        .logo{
            width: 113px;
            height: 181px;
            margin-left: 194px;
            padding-bottom: 0px;
            margin-top: -46px;
           
            filter: brightness(340%);
           
        }
        
    }


}

.showFlagConter{
    position: absolute;
    transition:  2s  all ease 5s;
    bottom: 140px;
    right: 250px;
    
    width: 200px;
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: black 0px 0px 20px;
    border-radius: 10px;
    font-size: 30px;
    z-index: 100;
    img{
        transition: all ease 1s;
    }
   
}
.notShowFlagConter{
    background-color: rgb(53, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
   
    position: absolute;
    width: 200px;
    height: 150px;
    bottom: -1300px;
    right: 240px;
    transition:  1s  all ease 1s;
    z-index: 101;
}
.iranFlagPicture{
    width: 60px;
    height: 40px;
    margin: 0px 5px;
    
}