.gameRules-container{
    
   
   display: flex;
   flex-direction: column;

    
}
.showRules{
   
    width: 100%;
    min-height: 670px;
    background-color: rgba(10, 5, 54, 0.945);
    position: absolute;
    z-index: 1;
    top: 0px;
    transition: all ease 1s;
    left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  
  box-shadow: 0 0 15px black;
}
.notshowRules{
    opacity: 0;
    display: none;
    transition: all ease 1s;

}

.rulesTexts-Container{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: flex-end;
    .rulesText-title{
        text-align: center;
        color: white;
        width: 100%;
        height: 70px;
        // background-color: gray;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .rulesText-detail-container{
        height: 200px;
        
        display: flex;
        flex-direction: column;
        
        justify-content: start;
        color: aliceblue;
        align-items: end;
        padding: 15px 30px;
        ul{
            list-style: circle;
            direction: rtl;
            li{
                margin-top: 30px;
            }
        }
        p{
            margin-top: 0;
            margin-bottom: 1rem;
            text-align: right;
            font-size: 14px;
            text-align: right;
        }
        
    }
   
    }
    .rulesBtn-Container{
        width: 100%;
       
       
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0px;
        font-family: 'iranS';
        margin-top: 190px;
        button: {
            font-size: 12px !important;
            
        };
        
    span{
        display: block;
    }
    }



