.iranGift-container{
    direction: rtl;
    width: 70%;
    margin: auto;
    left: 20%;
    height: 600px;
    background-color: yellow;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px ;

}