@font-face {
  font-family: 'iranS';
  src: url('../src//Fonts//A-Iranian-Sans/Iranian\ Sans.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'iranS';
  content-visibility: auto;
 

}
P,span{
  font-family: 'iranS';
  
}



